@font-face {
    font-family: 'Regular JP Font';
    src: url('../fonts/LINESeedJP-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Regular EN Font';
    src: url('../fonts/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "Regular EN Font", "Regular JP Font", sans-serif;
}

body {
    position: relative;
    background-color: black;
}

.block {
    width: max-content;
    height: 40px;
    color: white;
    border-radius: 10px;
    border: 3px solid rgb(70, 70, 70);
    background-color: rgb(53, 53, 53);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.block-color {
    height: 100%;
    width: 10px;
    flex-shrink: 0;
}

.block-label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: medium;
    margin: 0;
}

.block-slide {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    height: 100%;
    box-sizing: border-box;
}

.block-slide::-webkit-scrollbar,
.control-block-header-content::-webkit-scrollbar,
#tools-box-header::-webkit-scrollbar {
    height: 2px;
}

.block-slide::-webkit-scrollbar-track,
.control-block-header-content::-webkit-scrollbar-track,
#tools-box-header::-webkit-scrollbar-track {
    background: transparent;
}

.block-slide::-webkit-scrollbar-thumb,
.control-block-header-content::-webkit-scrollbar-thumb,
#tools-box-header::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
}

.block-slide::-webkit-scrollbar-thumb:hover,
.control-block-header-content::-webkit-scrollbar-thumb:hover,
#tools-box-header::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.delete {
    position: relative;
    display: flex;
    align-items: stretch;
}

.delete-btn {
    position: absolute;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    background-color: rgb(32, 32, 32) !important;
    border-radius: 100%;
}

.input-field {
    height: 22px;
    min-width: 22px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: medium;
    flex-shrink: 0;
    field-sizing: content;
    outline: none;
    padding-left: 11px;
    padding-right: 11px;
    text-align: center;
    margin: 0;
}

.btn-add {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.btn-icon {
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

.icon-add {
    background-image: url("../image/add-icon.svg");
}

.icon-close {
    background-image: url("../image/close-icon.svg");
}

.control-block {
    position: relative;
    width: max-content;
    min-width: 180px;
    color: white;
    border-radius: 10px;
    border: 3px solid rgb(70, 70, 70);
    background-color: rgb(53, 53, 53);
    overflow: hidden;
    margin-bottom: 20px;
}

.control-block-header {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-right: 10px;
}

.control-block-color {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
}

.control-block-header-content {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    overflow-x: auto;
}

.control-block-body {
    display: flex;
    min-height: 40px;
}

.control-block-indent {
    width: 20px;
    flex-shrink: 0;
    border-right: 5px solid rgb(70, 70, 70);
}

.control-block-body-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    min-width: 150px;
}

.add-block-icon {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.add-block-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 3px solid rgb(22, 22, 22);
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.checked-block {
    display: flex;
    gap: 10px;
}

#tools-box {
    position: fixed;
    width: 300px;
    height: 500px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid rgb(70, 70, 70);
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
}

#tools-box-body {
    overflow-y: auto;
}

#tools-box-header {
    display: flex;
    align-items: center;
    justify-content: safe center;
    width: auto;
    flex: 0 0 auto;
    height: auto;
    box-sizing: border-box;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 3px solid rgb(70, 70, 70);
    overflow-x: auto;
}

#tools-box-input {
    flex: 1 0 auto;
}

.tools-box-function {
    color: white;
    margin: 0;
}

.tools-box-group {
    color: white;
}